@media (max-width: 600px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo {
        display: none;
    }

    #search-container {
        width: 95%;
    }

} 